version: '3'

services:

  client:
    image: node:20.3.1
    container_name: projet_client
    restart: always
    working_dir: /home/node/app
    volumes:
      - ./frontend-projet-master:/home/node/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"
    depends_on:
      - server
      - mysql
    networks:
      - server-client

  server:
    image: node:20.3.1
    container_name: projet_server
    restart: always
    working_dir: /home/node/app
    volumes:
      - ./backend-projet-master:/home/node/app
    ports:
      - "4000:4000"
    command: sh -c "npm install && npm run dev"
    networks:
      - server-client
      - server-database

  mysql:
    volumes:
      - ./database:/var/lib/mysql
    image: mariadb:latest
    container_name: projet_mysql
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MARIADB_DATABASE: clients
      MARIADB_ROOT_PASSWORD: Banzan9771
     
    
    networks:
      - server-database

networks:
  server-client:
  server-database: