@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
	font-family: 'Inter', sans-serif;
}

.an_load_bar {
  height: 100%;
  position: absolute;
  border-radius: 99px;
  animation: prgs 1s ease-in-out 0.5s infinite;
}

@keyframes prgs {
  0% {
    width: 5%;
    left: -5%;
  }

  45% {
    width: 45%;
  }

  100% {
    width: 5%;
    left: 100%;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
/*font-face permet de charger des polices personnalisées 
sur une page Web. Une fois ajoutée à une feuille de style, 
la règle demande au navigateur de télécharger la police à partir de l'endroit 
où elle est hébergée, puis de l'afficher comme spécifié dans le CSS.
@font-face*/
/* {
	font-family:Poppins-Bold;
/* src:url(../fonts/poppins/Poppins-Bold.ttf)}

@font-face
{
	font-family:Poppins-Medium;
src:url(../fonts/poppins/Poppins-Medium.ttf)}

@font-face
{
	font-family:Montserrat-Bold;
src:url(../fonts/montserrat/Montserrat-Bold.ttf)} */

/*L'astérisque (*) est le sélecteur universel en CSS.
 Il correspond à un élément de n'importe quel type.*/
*
{
	box-sizing:border-box;
	margin:0;
padding:0}

body,html
{
font-family:Poppins-Regular,sans-serif
}

p
{
	margin:0;
	font-family:Poppins-Regular;
	font-size:14px;
	line-height:1.7;
color:#666}

input
{
	border:none;
outline:0}

input:focus
{
border-color:transparent!important}

input:focus::-webkit-input-placeholder
{
color:transparent}

input:focus:-moz-placeholder
{
color:transparent}

input:focus::-moz-placeholder
{
color:transparent}

input:focus:-ms-input-placeholder
{
color:transparent}

input::-webkit-input-placeholder
{
color:#999}

input:-moz-placeholder
{
color:#999}

input::-moz-placeholder
{
color:#999}

input:-ms-input-placeholder
{
color:#999}

button
{
	border:none;
	outline:0!important;
background:0 0}

button:hover
{
cursor:pointer}

.limiter
{
	width:100%;
margin:0 auto}

.bg-gray-200 {
	background-image: url('../assets/GettyImages.jpg');
	background-size: cover;
	background-position: center;
  }

.container-login100
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	width:100%;
	padding:15px;
	min-height:100vh;
    background-image: url('../Images/GettyImages-840206042.jpg');
    background-repeat: no-repeat;
    background-size: cover;}


.inscription {
	text-align: center;
	color: red;
	margin-top: 50px;
	position: relative;
	top: 10%;
}
.inscription a:hover{
	color: red;
}

.inscription a:before {
	content: "\2192 "; /* code unicode pour la flèche */
	font-size: 1.2em; /* taille de la flèche */
	margin-right: 0.5em; /* espace entre la flèche et le texte */
	
  }

.login100-pic
{
width:316px}

.login100-pic img
{
max-width:100%}

.login100-form
{
width:290px}

.login100-form-title
{
	display:block;
	width:100%;
	padding-bottom:54px;
	text-align:center;
	font-family:Poppins-Bold;
	font-size:24px;
	line-height:1.2;
color:#333}

.wrap-input100
{
	z-index:1;
	position:relative;
	width:100%;
margin-bottom:10px}

.input100
{
	display:block;
	width:100%;
	height:50px;
	padding:0 30px 0 68px;
	border-radius:25px;
	font-family:Poppins-Medium;
	font-size:15px;
	line-height:1.5;
	color:#666;
background:#e6e6e6}

.focus-input100
{
	display:block;
	z-index:-50;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:25px;
	color:#00d66c;
box-shadow:0 0}

.input100:focus+.focus-input100
{
	-webkit-animation:anim-shadow .5s ease-in-out forwards;
animation:anim-shadow .5s ease-in-out forwards}

@-webkit-keyframes anim-shadow
{
	to
	{
		opacity:0;
	box-shadow:0 0 70px 25px}
}

@keyframes anim-shadow
{
	to
	{
		opacity:0;
	box-shadow:0 0 70px 25px}
}

.symbol-input100
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	position:absolute;
	bottom:0;
	left:0;
	align-items:center;
	width:100%;
	height:100%;
	padding-left:35px;
	border-radius:25px;
	font-size:15px;
	color:#666;
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
	-o-transition:all .4s;
	transition:all .4s;
pointer-events:none}

.input100:focus+.focus-input100+.symbol-input100
{
	padding-left:28px;
color:#57b846}

.container-login100-form-btn
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:100%;
padding-top:20px}

.btn {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
  }

.login100-form-btn
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:50px;
	padding:0 25px;
	border-radius:25px;
	text-transform:uppercase;
	font-family:Montserrat-Bold;
	font-size:15px;
	line-height:1.5;
	color:#fff;
	background:#00d66c;
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
	-o-transition:all .4s;
transition:all .4s}

.login100-form-btn:hover
{
background:#4de298}

@media (max-width:992px)
{
	.wrap-login100
	{
	padding:177px 90px 33px 85px}

	.login100-pic
	{
	width:35%}

	.login100-form
	{
	width:50%}
}

@media (max-width:768px)
{
	.wrap-login100
	{
	padding:100px 80px 33px 80px}

	.login100-pic
	{
	display:none}

	.login100-form
	{
	width:100%}
}

@media (max-width:576px)
{
	.wrap-login100
	{
	padding:100px 15px 33px 15px}
}

.validate-input
{
position:relative}

.Accueil
{
margin-bottom:10px}